<h3>{{titulo}}</h3>

<div class="row">
    <div>
    
            <div class="col-lg-3">
                <select class='select-option' (change)="searchBirds()" required #zone="ngModel" name="zone" [(ngModel)]='zoneFilter' class="form-control">   
                    <option  class='option' *ngFor='let zone of zones' [value]="zone.code">{{zone.name}}</option>
                </select>
            </div>
            <div class="col-lg-3">
                <input type="text" (keydown.enter)="searchBirds()" name="nameFilter" [(ngModel)]="nameFilter" class="form-control" placeholder="Nombre común o científico del ave">
            </div>
            <div>
                
                <a id="searchBirds" (click)="searchBirds()"  class="btn btn-success">Buscar</a>
            </div>

    </div>
</div>
<hr/>

<div *ngIf="!birds">    
    Cargando listado de aves....
</div>

<div *ngIf="birds">
    <table>
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="35%">Nombre común</th>
                <th width="45%">Nombre científico</th>
                <th width="15%">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bird of birds; let idx = index">
                <td align="center">{{idx + 1}}</td>
                <td>{{bird.commonName}}</td>
                <td>{{bird.scientificName}}</td>
                <td align="center">
                    <p>
                            <a id="editBird" [routerLink]="['/edit-bird',bird.code]" class="btn btn-sm btn-warning">Editar</a>
                            <a id="deleteBird" (click)="deleteBird(bird.code)"  class="btn btn-sm btn-danger">Borrar</a>
                        </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>